numpy
torch
PyYAML
faiss-cpu
hnswlib
grpcio

sentence-transformers
# For M1 users, use the below command to install sentence-transformers
# Reference: https://www.sbert.net/docs/installation.html#:~:text=Apple%20silicon%20Installation%20of%20sentence%2Dtransformers
# conda install -c conda-forge sentence-transformers
